body{ 
      background-color: black;
      width: 100vw;
      height: 20vh;
}

.bluesquad{
      width: 100px;
      height: 100px;
      background-color: blue;


}

.redsquad{
      width: 100px;
      height: 100px;
      background-color: red;
}

.greensquad{
      width: 100px;
      height: 100px;
      background-color: greenyellow;

}

li{
      list-style-type: none;
      float: none;
      color: white;
      text-align: center;
}

.title{
      font-size:70px;
      margin: auto;
      text-align: center;
      color: aqua;
      font-family: sans-serif monospace;
      font-weight: 900;
}