*{
      margin: 0%;
      padding: 0%;
}
body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #2d2d2d;
}
.container{
      max-width: 1000px;
      margin: auto;
}



header h1{
      font-size: 20px;
      background-color: #ab4c16;
      color: white;
      text-align: center;
      margin: 0%;
      padding: 10px;
}

.containerForm{
      max-width: 230px;
      border-radius: 10px;
      background-color: #949494;
      padding: 25px;
      float: right;
}

.containerForm h2{
      font-size: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 20px;
}
.containerForm p{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin-bottom: 20px;

}
.containerForm input, select{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      margin-bottom: 10px;
}

input[type='submit']{
      color: white;
      background-color: #ab4c16;
}
section{
      padding: 20px;
      background-image: url(/desafio_3/Assets/backgorund.jpg);
      background-position: 60%;
      background-size: cover;
      overflow: hidden;
}

select{
      -moz-appearance: none;
      appearance: none;
      -webkit-appearance: none;

      background-image: url(/desafio_3/Assets/svgexport-11.png);
      background-repeat: no-repeat;

      background-position: calc(100% - 10px) center;
}
footer{
      background-color: #ab4c16;
      padding: 40px;
      text-align: center;
}

.picture img{
      width: 150px;
      float: left;
}
.description{
      display: inline-block;
      text-align: left;
      color: white;
      max-width: 70%;
      margin-left: 40px;
}
.description p, .description h3{
      margin-bottom: 20px;
}